#######################################
# NODE
#######################################
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
*.log
logs/
.DS_Store
Thumbs.db

#######################################
# ENVIROMENT VARIABLES
#######################################
.env
.env.local
.env.*.local

#######################################
# WHATSAPP SESSION (wweb.js)
#######################################
data/session/
data/.wwebjs_auth/
data/.wwebjs_cache/
data/session/session/
session/
.session/

#######################################
# LEVELDB Session Storage
#######################################
**/IndexedDB/
**/Local Storage/
**/Session Storage/
**/Service Worker/
**/*.leveldb/

#######################################
# CHROME / PLAYWRIGHT / PUPPETEER
#######################################
**/DevToolsActivePort
**/chrome_debug.log
**/Default/

#######################################
# RUNTIME FILES
#######################################
tmp/
temp/
.cache/
.cache/

#######################################
# SYSTEM FILES
#######################################
*.swp
*.swo
Thumbs.db
